<div class="column">
  {{ site.data[page.lang].lang["description"] }}
</div>

<!-- <div class="column">
	<h3>Acknowledgements</h3>
    <p>
  	  This website illustrates the experience and the progress of <b>reHub</b> within the <b>opencare Maker in Residence</b>,
	  which takes place in WeMake.</b>
    </p>
  <h2>Our core values</h2>
  <p>
	  <b>reHub</b> project is an <a href="http://www.rehub.pro/"><b>online platform</b></a> and <a href="https://github.com/reHubGlove"><b>open source kit</b></a> that allow the monitoring of fingers and hand movement for athletes,
	  rehabilitation patients and music instrument students that needs a certain and digital data to monitor the exercise.
	  Moreover, we are looking for our final user(s), who will try our product and help us develop different options:
	  <ul>
		  <li>Sport</li>
		  <li>Gaming</li>
		  <li>Educational</li>
		  <li>Medical</li>
	  </ul>
	  We want to built a <b>community</b> and start a business strategy.
  </p>
</div>
 -->