<!-- To edit the content of this module please check lang.yml -->
<footer class="site-footer">
  <div class="column">
    <span class="owner">
      <a href="{{ site.baseurl }}/">{{site.name}} </a>{{ site.data[page.lang].lang["footer"]["credits_line_html"] }}
    </span>
    <p class="credits">{{ site.data[page.lang].lang["footer"]["eu_agreement_line"] }}</p>
  </div>
  <div class="column">
    <img src="http://opencarecc.github.io/MicroWebsiteTemplate/assets/OC-EC-H2020.jpg">
  </div>
</footer>

<!-- <footer class="site-footer">
  <span class="site-footer-owner">
    This website is maintained by <a href="https://wemake.cc">WeMake</a> and <a href="https://github.com/opencarecc/rehub">reHub</a> as part of the <a href="https://opencare.cc">opencare</a> project
    and as a result of the <a href="http://wemake.cc/opencare/maker-in-residence-en/">opencare Maker in Residence.</a>

  </span>

  <div>
    <p class="site-footer-credits"><b>opencare</b> project has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement No 688670.</p>
    <img src="http://opencarecc.github.io/MicroWebsiteTemplate/assets/OC-EC-H2020.jpg">
  </div>
</footer> -->
