<!-- IMPORTANT: Please only change text and links. Leave the HTML structure unchanged -->

<section class="page-header">
  <div class="page-header-content">
    <h1 class="project-name">ReHub</h1>
    <h2 class="project-tagline">an online platform and open source kit that allow the monitoring of fingers and hand movement for athletes, rehabilitation patients and music instrument students. </h2>
    <a href="https://github.com/opencarecc/rehub" class="btn">View on GitHub</a>
    <a href="https://github.com/opencarecc/rehub/zipball/master" class="btn">Download .zip</a>
    <a href="https://github.com/opencarecc/rehub/wiki" class="btn">Build your own!</a>
  </div>
</section>
