<section class="page-header">
  <div class="page-header-content">
    <h1 class="project-name">{{ site.data[page.lang].lang["header"]["title"] }}</h1>

    <h2 class="project-tagline">{{ site.data[page.lang].lang["header"]["tagline"] }}</h2>

    {% for item in site.data[page.lang].lang["header"]["buttons"] %}
      <a href="{{ item.link }} " class="btn">{{ item.text }} </a>
    {% endfor %}
  </div>
</section>

<!-- <section class="page-header">
  <div class="page-header-content">
    <h1 class="project-name">reHub</h1>
    <h2 class="project-tagline">reHub is an <b>interface of interaction man-machine.</b> It can be used in various areas for example the evaluation of dexterity, sport, music and gaming.</h2>
    <a href="https://github.com/opencarecc/rehub" class="btn">View on GitHub</a>
    <a href="https://github.com/opencarecc/rehub/zipball/master" class="btn">Download .zip</a>
    <a href="https://github.com/opencarecc/rehub/wiki" class="btn">Cooming Soon!</a>
  </div>
</section> -->
