<!-- IMPORTANT: Please only change text and links. Leave the HTML structure unchanged -->

<section class="page-header">
  <div class="page-header-content">
    <h1 class="project-name">ReHub</h1>
    <h2 class="project-tagline">ReHub is an interface of interaction man-machine. It can be used in various areas for example the evaluation of dexterity, sport, music and gaming.</h2>
    <a href="https://github.com/opencarecc/rehub" class="btn">View on GitHub</a>
    <a href="https://github.com/opencarecc/rehub/zipball/master" class="btn">Download .zip</a>
    <a href="https://github.com/opencarecc/rehub/wiki" class="btn">Build your own!</a>
  </div>
</section>
