<div class="column">
	<h2>Version* 0.2 - 2017/06/28</h2>
	<ul>
	<h3>ESSENTIALS</h3>

		<li><b>Project Name:</b></li>
		<dd>reHub</dd>
		<li><b>Short description:</b></li>
		<dd>ReHub project is an online platform and open source kit that allow the monitoring
			of fingers and hand movement for athletes, rehabilitation patients and music
			instrument students that needs a certain and digital data to monitor the exercise.
			Unlike Neofect project our project is open source and open hardware.</dd>
		<li><b>Users:</b></li>
		<dd>People who need a certain and digital data to monitor the exercise</dd>
		<dd>Patients who need a proprioceptive rehabilitation</dd>
		<dd>Physiotherapist</dd>
		<dd>Electronics enthusiasts</dd>
		<dd>Music instrument students</dd>
		<dd>Athletes</dd>
		<li><b>The problem/need/reasons why:</b></li>
		<dd>Lack of software for monitoring the progress during rehabilitation therapy</dd>
		<dd>Lack of digital devices to monitor the hand rehabilitation</dd>
		<dd>The need of making the therapeutic exercises remotely</dd>
		<dd>Monitor and share data with who evaluates the exercise</dd>
		<dd>Increases the chances of exercise</dd>
		<dd>Historicizes the progress of therapy</dd>
		<li><b>The solution:</b></li>
		<dd>Online platform</dd>
		<dd>Open source kit</dd>
	<p>
		<a href="https://opencarecc.github.io/rehub/blog/2017/06/28/rehub-version-02/">
			<em>More details »</em>
		</a>
	</p>
		<p class="font_size_12">
			*'Version' shall mean the current state of the project. The outcomes of each sprint activity.
		</p>
</div>
